<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="org.ldv.sio.slam.hw" />

	<bean class="org.ldv.sio.slam.hw.impl.HelloWorld" id="coucou2">
		<property name="name" value="SLAM Mélanie and Thomas" />
	</bean>

	<bean class="org.ldv.sio.slam.hw.impl.BonjourMonde" id="coucou1">
		<property name="name" value="Étudiant SLAM" />
	</bean>
	
	<bean class="org.ldv.sio.slam.hw.impl.BonjourMondeEnJaponais" id="coucou3">
		<property name="name" value="Mélanie" />
	</bean>

	<bean class="org.ldv.sio.slam.hw.App" id="main" >
	  <property name="hello" ref="coucou3"/>
	</bean>

</beans>